@import './variables.scss';
img {
    max-width: 100%;
}

.main-banner {
    width: 90%;
    margin: 0 auto;
}

.item {
    width: 100%;
    height: 610px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.baner-content {
    width: 530px;
    text-align: center;
    margin: 0 auto;
    padding-top: 300px;
}

.full-width-sec {
    width: 100%;
    float: left;
    background-position: center;
    background-size: cover;
}

.banner-content {
    width: 535px;
    margin: 0 auto;
    padding-top: 200px;
}

.overlay {
    height: inherit;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), transparent, transparent);
}

.intro {
    width: 662px;
    margin: 0 auto;
}

.intro-head {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}

.intro-content {
    width: 551px;
    margin: 0 auto;
    font-size: 16px;
}

.link {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    &:hover {
        text-decoration: underline;
    }
}

.features {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    column-gap: 1%;
}

.bg-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 1.4), rgba(0, 0, 0, .2), transparent, transparent);
}

.horizontal-text-align {
    padding: 290px 0px 61px 0px;
}

.secondary-heading {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
}

.link-text {
    width: 29%;
    margin: 0 auto;
}

.testimonial {
    width: 100%;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 1.2%;
}

.article-head {
    font-size: 23px;
    font-weight: 100;
    width: 325px;
    margin: 0 auto;
}

.para {
    width: 340px;
    margin: 0 auto;
}

.text-style {
    font-size: 11px;
    color: #a3a3a3;
}

.photo-section {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1.3%;
}

.insta-icon {
    vertical-align: sub;
    width: 26px;
    margin-right: 10px;
}

.left-margin {
    margin-left: 15px;
}

.social-icon {
    width: 20px;
    display: inline-block;
    margin-right: 15px;
}

.testimonial-content {
    height: 300px;
    width: 100%;
}