.global-vertical-padding {
    padding-top: 65px;
    padding-bottom: 65px;
}

.global-top-padding {
    padding-top: 65px;
}

.global-bottom-padding {
    padding-bottom: 65px;
}

.global-vertical-padding-medium {
    padding-top: 30px;
    padding-bottom: 30px;
}

.global-top-padding-medium {
    padding-top: 30px;
}

.global-bottom-padding-medium {
    padding-bottom: 30px;
}

.global-top-padding-sm {
    padding-top: 15px;
}

.global-bottom-padding-sm {
    padding-bottom: 15px;
}

.global-vertical-padding-sm {
    padding-top: 15px;
    padding-bottom: 15px;
}