.tac {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.align-ib {
    display: inline-block;
}

.text-white {
    color: white;
}

.insta-text {
    font-style: italic;
    font-size: 35px;
}